[submodule "governance/qm"]
	path = governance/qm
	url = https://github.com/quaternionmedia/qm.git
	branch = project/qmcp
[submodule "vox"]
	path = vox
	url = https://github.com/quaternionmedia/vox.git
